@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
:root{
    --bg-color: #F74A55;
    --title-color: #750008;
    --box-style: #F5000F;
    --nav-style: #752329;
    --cursor-style: #C2000D;
}
body{
    background-color: #B2BEBF;
    padding: 0;
    margin: 0;
    border: 0;
}
header{
    color: white;
    background-image: linear-gradient(to bottom, #BD2A2E, #BD2A1A);
}
header h1{
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 2px 1px black;
}
header p {
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 2px 2px 1px black;
}
nav ul{
    background-color: #3B3936;
    padding: 0px;
    display: flex;
}
nav ul a{
    text-decoration: none;
    color: #B2BEBF;
    padding: 10px;
}
nav ul a li{
    padding: 5px;
    list-style: none;
}
nav a:hover{
    background-color: white;
    color: #000000;
    transition: .5s;
}
nav a li:hover{
    color: #000000;
    background-color: transparent;
    transition: .6s;
}
main{
    background-color: #889C9B;
    border-radius: 10px;
    margin: 30px 20px 30px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.666);
}
main h1{
    padding-top: 10px;
    padding-left: 35px;
    color: #870009;
    text-shadow: .1px .1px .1px black;
}
main h2{
    padding-left: 15px;
    color: #2e0003;
}
main p{
    color: #3B3936;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    text-shadow: .1px .1px .1px black;
}
div h1{
    text-align: center;
}
div li a{
    color: rgb(255, 255, 255);
    background-color: #F74A55;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
}
div li a:hover{
    color:rgb(75, 0, 0);
    background-color: rgb(255, 174, 179);
}
footer{
    background-color: #3B3936;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
footer p{
    margin: 15px 0px 15px 0px;
    text-align: center;
    background-color: #3B3936;
}
footer > p > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
footer p:hover{
    background-color: #2e0003;
    transition: .4s;
    padding: 5px;
}
label[for="checar"]{
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
div.line{
    width: 90%;
    height: 4px;
    background-color: white;
    margin: 3px 0;
}
nav input#checar{
    display: none;
}
@media (max-width: 825px){
    nav{
        background-color: #3B3936;
        flex: 1;
    }
    ul.links{
        display: none;
    }
    ul.links a:hover{
        background-color: transparent;
    }
    label[for="checar"]{
        display: flex;
    }
    input#checar:checked ~ ul.links{
        display: block;
        text-align: center;
        list-style: none;
    }
}