@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
:root{
    --bg-color: #F74A55;
    --title-color: #750008;
    --box-style: #F5000F;
    --nav-style: #752329;
    --cursor-style: #C2000D;
}
body{
    background-color: #B2BEBF;
}
header{
    color: white;
    background-image: linear-gradient(to bottom, #BD2A2E, #BD2A1A);
}
header h1{
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 2px 1px black;
}
header p {
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 2px 2px 1px black;
}
nav{
    background-color: #3B3936;
    padding: 10px 10px 10px 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.666);
}
nav a{
    text-decoration: none;
    color: #B2BEBF;
    padding: 10px;
}
nav a:hover{
    background-color: #ffffff;
    color: #000000;
    transition: .5s;
}
main{
    background-color: #889C9B;
    border-radius: 10px;
    margin: 30px 20px 30px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.666);
}
main h1{
    padding-top: 10px;
    padding-left: 35px;
    color: #870009;
    text-shadow: .1px .1px .1px black;
}
main h2{
    padding-left: 15px;
    color: #2e0003;
}
main p{
    color: #3B3936;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    text-shadow: .1px .1px .1px black;
}
div h1{
    text-align: center;
}
div li a{
    color: rgb(255, 255, 255);
    background-color: #F74A55;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
}
div li a:hover{
    color:rgb(75, 0, 0);
    background-color: rgb(255, 174, 179);
}
footer{
    background-color: #3B3936;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 20px;
}
footer p{
    margin: 15px 0px 15px 0px;
    text-align: center;
    background-color: #3B3936;
}
footer > p > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
footer p:hover{
    background-color: #2e0003;
    transition: .4s;
    padding: 5px;
}